
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic", sans-serif;
    background-color: #f0f0f0;
}
  
  .faleConosco{
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
fieldset {
    border: none;
    padding: 20;
}
.faleConosco input, .faleConosco textarea, .faleConosco select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    outline: none;
}

.faleConosco label {
    display: block;
    margin-top: 10px;
}

.faleConosco textarea {
    resize: none;
    height: 100px;
}
  
  .faleConosco input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0;
    gap: 8px;
  }

  .faleConosco input[type="radio"] {
    width: 18px;
    height: 18px;
    margin: 0;
    gap: 8px;
  }
  
  .faleConosco label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .faleConosco textarea{
    height: 100px;
    resize: none;
  }
  
  .faleConosco button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    border-radius: 5px;
    background: #0078ff;
    border: none;
    color: white; 
    letter-spacing: 1px;
    text-shadow: none;
    font-size: 16px; 
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-top: 20px;
  }
  
  button:hover {
    color: white;
    background: #0078ff; 
  }
  
  h2{
     text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 50px;
  }

  h5{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
 }

  .titles {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.titles h1, .titles h3, .titles h4 {
    font-weight: bold;
    color: #0078ff;
}
  section p{
     clear: both;
     text-align: center;
     margin: 10px 80px;
  }
  
  